/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #010000;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-image: url(assets/graphics/phongnha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav a img {
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0%;
    padding: 0 0 0 0;
}

footer ul {
    width: 400px;
    padding: 0;
    left: 0%;
    margin: 0 auto 0 auto;
}

footer ul li {
    color: rgb(236, 226, 226);
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0 5px;
}

footer p {
    font-size: 12px;
    margin: 10px 0 10px 0;
    text-align: center;
}

footer ul li i {
    position: relative;
    bottom: 10px;
    margin: 0 5px 0 5px;
    transform: scale(1.5);
}

footer ul li a:link {
    color: #ffffff;
}

footer ul li a:visited {
    color: #ffffff;
}

footer ul li i:hover {
    cursor: pointer;
    color: white;
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    transform: scale(2, 2);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main h1 {
    text-align: center;
    margin-right: 20px;
}

.content {
    color: white;
    width: 50%;
    text-align: left;
    position: relative;
    left: 20%;
    text-align: center;
    padding: 0 0 10px 0;
}

#container {
    border-radius: 4%;
    width: 250px;
    max-width: 1345px;
    margin: 5px auto;
    position: absolute;
    right: 2%;
    top: 8%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.651);
    box-shadow: -3px 3px rgba(0, 0, 0, 0.329);
}

header {
    display: block;
    width: 100%;
    height: 150px;
    position: relative;
    background-color: antiquewhite;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

a,
a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

header logo .img {
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.342);
}

nav,
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0 5 0 5;
}

nav ul li:last-child {
    float: right;
}

nav ul li a {
    display: block;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 15px 20px;
}

#container .main {
    display: block;
    width: 100%;
    padding: 0 10px;
}

.main h1 {
    color: white;
}

@media only screen and (min-width: 2560px) {
    nav ul li a {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1345px) {
    #container {
        margin: 3%;
    }
}

@media only screen and (max-width: 430px) {
    nav ul li a {
        font-size: 12px;
        padding: 10px 15px;
    }
    footer ul {
        margin: auto auto;
        transform: scale(0.8);
    }
    footer ul li {
        color: white;
    }
}

@media only screen and (max-width: 320px) {
    footer ul {
        position: relative;
        margin-left: -25px;
        transform: scale(0.6);
    }
}